{% extends 'layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <h1 class="display-4 mt-5 mb-5" style="text-align: center">Connexion</h1>

    <div class="col-sm-6 offset-sm-3">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3 alert alert-success">
                    Vous êtes déjà connecté en tant que : {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            {# Partie du formulaire relatif à l'identifiant #}
            <label for="inputUsername">Identifiant</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus><br>

            {# Partie du formulaire relatif au mot de passe #}
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control"  required>

            {# Champ invisible, gestion du token #}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {# Fonctionnalité "se souvenir de moi" #}
            <div class="checkbox mb-4 mt-2">
                <input type="checkbox" name="_remember_me" id="cbSeSouvenir">
                <label for="cbSeSouvenir">Se souvenir de moi</label>
            </div>

            {# Bouton validation formulaire connexion #}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
        </form>
    </div>
{% endblock %}
