{% extends 'layout.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

    <h1 class="display-4 mt-5 mb-5">Mon profil</h1>
    
    {{ form_start(modifyForm) }}
    
        <div class="row mt-5">
            <div class="col-2 mt-4">
                <img class="rounded-circle" src="{{ asset("img/profil/" ~ user.photo) }}" width="100%">
            </div>

            <div class="col-5">
                {{ form_row(modifyForm.username) }}
                {{ form_row(modifyForm.prenom) }}
                {{ form_row(modifyForm.nom) }}
                {{ form_row(modifyForm.telephone) }}
                {{ form_row(modifyForm.photo) }}
            </div>

            <div class="col-5">
                {{ form_row(modifyForm.mail) }}
                {{ form_row(modifyForm.password) }}
                {{ form_row(modifyForm.site) }}
            </div>
        </div>

        <div class="row">
            <div class="col-10 offset-2 mt-4">
                <button class="btn btn-success btn-block">Enregistrer</button>
            </div>
        </div>


    {{ form_end(modifyForm) }}
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
{% endblock %}
