{% extends 'layout.html.twig' %}

{% block title %}Gérer les utilisateurs{% endblock %}

{% block body %}
    <h1 class="display-4 mt-5 mb-5" style="text-align: center">Gérer les utilisateurs</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Pseudo</th>
            <th scope="col">Mail</th>
            <th scope="col">Désactiver</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.mail }}</td>
                <td><a class="btn btn-outline-danger" href="{{ path("admin_desactiver", {"id":user.id}) }}">{% if user.actif %}Désactiver {% else %} Activer {% endif %}</a></td>
                <td><a class="btn btn-outline-danger" href="{{ path("admin_supprimer", {"id":user.id}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    <div class="row">
        <div class="col-3">
            <a href="{{ path('app_register') }}" class="btn btn-success btn-block">Ajouter un utilisateur</a><br>
        </div>
        <div class="col-3">
            <form action="{{path('csv_reader')}}" method="post" enctype="multipart/form-data">
                <input type="file" name="fileToUpload" id="fileToUpload">
{#                <a href="{{ path('csv_reader') }}" class="btn btn-success btn-block">Importer fichier csv</a><br>#}
                <input type="submit" value="Importer fichier csv" class="btn btn-success btn-block" name="submit">
            </form>
        </div>
    </div>
{% endblock %}
