{% extends 'layout.html.twig' %}

{% block title %}Afficher une sortie{% endblock %}

{% block body %}

    <h1 class="display-4 mt-5 mb-5" style="text-align: center">Afficher une sortie</h1>


        <div class="row">
            <div id="my_osm_widget_map" class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="my-4">
                    <strong>Nom de la sortie :</strong>
                    {{ sortie.nom }}
                </div>

                <div class="my-4">
                    <strong>Date et heure de la sortie :</strong>
                    {{ sortie.dateDebut|date("d/m/Y H:i") }}
                </div>

                <div class="my-4">
                    <strong>Date limite inscription :</strong>
                    {{ sortie.dateDebut|date("d/m/Y H:i") }}
                </div>

                <div class="my-4">
                    <strong>Nombre de places :</strong>
                    {{ sortie.nbInscriptionsMax }}
                </div>

                <div class="my-4">
                    <strong>durée :</strong>
                    {{ sortie.duree }}
                </div>

                <div class="my-4">
                    <strong> Description et infos :</strong>
                    {{ sortie.description }}
                </div>
            </div>

            <div class="col-sm-4">
                <div class="my-4">
                    <strong>Ville organisatrice :</strong>
                    {{ sortie.dateDebut |date("d/m/Y H:i") }}
                </div>

                <div class="my-4">
                    <strong>Lieu :</strong>
                    {{ sortie.lieu.nom }}
                </div>

                <div class="my-4">
                    <strong> Rue :</strong>
                    {{ sortie.lieu.rue }}
                </div>

                <div class="my-4">
                    <strong>Rue :</strong>
                    {{ sortie.lieu.ville.codePostal }}
                </div>

                <div class="my-4">
                    <strong>Latitude :</strong>
                    {{ sortie.lieu.latitude }}
                </div>

                <div class="my-4">
                    <strong> Longitude :</strong>
                    {{ sortie.lieu.longitude }}
                </div>
            </div>


        </div>


    <hr class="my-4"/>
    <div class="row offset-4">

        <div class=" col-sm-6 mt-5 ">


                <h3 class="h3">Liste des participants</h3>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Prénom</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for participant in participants %}
                        <tr>
                            <td><strong>{{ participant.participant.username }}</strong></td>
                            <td><a class="alert-link"
                                   href="{{ path('app_profile', { 'id':participant.participant.id }) }}">{{ participant.participant.prenom }}</a>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

        </div>

    </div>



    <!-- Fichiers Javascript -->

    <script type="text/javascript">
        var mymap = L.map('my_osm_widget_map', { /* use the same name as your <div id=""> */
            center: ['{{ sortie.lieu.latitude }}', '{{ sortie.lieu.longitude}}'], /* set GPS Coordinates */
            zoom: 13, /* define the zoom level */
            zoomControl: false, /* false = no zoom control buttons displayed */
            scrollWheelZoom: false /* false = scrolling zoom on the map is locked */
        });

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibmFraW0iLCJhIjoiY2p6djI0MXl5MGttNjNudXRraWJkb2hqYyJ9.UBzRQGEqB8xR60GSngC1Lw', { /* set your personal MapBox Access Token */
            maxZoom: 20, /* zoom limit of the map */
            attribution: 'Données &copy; Contributeurs <a href="http://openstreetmap.org">OpenStreetMap</a> + ' +
                '<a href="http://mapbox.com">Mapbox</a> | ' +
                '<a href="https://creativecommons.org/licenses/by/2.0/">CC-BY</a> ' +
                'Guillaume Rouan 2016', /* set the map's caption */
            id: 'mapbox.streets' /* mapbox.light / dark / streets / outdoors / satellite */
        }).addTo(mymap);

        L.marker(['{{ sortie.lieu.latitude }}','{{ sortie.lieu.longitude}}']).addTo(mymap); /* set your location's GPS Coordinates : [LAT,LON] */

    </script>

{% endblock %}
