{% extends 'layout.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}

    <h1 class="display-4 mt-5 mb-5" style="text-align: center">Créer une sortie</h1>

    {{ form_start(form_CreerSortie) }}


    {{ form_errors(form_CreerSortie) }}


    <div class="row">

        <div class="col-sm-4 offset-sm-2">
            {{ form_row(form_CreerSortie.nom) }}
            {{ form_row(form_CreerSortie.dateDebut) }}
            {{ form_row(form_CreerSortie.dateCloture) }}
            {{ form_row(form_CreerSortie.nbinscriptionsmax) }}
            {{ form_row(form_CreerSortie.duree) }}
            {{ form_row(form_CreerSortie.description) }}
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label class="required">Ville organisatrice</label>
                <label class="form-control" id="villeOrganisatrice">{{ app.user.site.libelle }}</label>
            </div>

            {{ form_row(form_CreerSortie.ville) }}

            <div class="row">
                <div class="col-9">

                    <div class="form-group">
                        <label for="exampleFormControlSelect1"> Lieu :</label>
                        <select class="form-control" id="creer_sortie_lieu" name="lieux">

                        </select>
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <label class="required">Nouveau</label>
                        <a class="form-control btn btn-light" href="{{ path('gestion_nouveau_lieu') }}"><img
                                    src="{{ asset('img/add_location.png') }}" height="90%"></a>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="required">Rue</label>
                <label class="form-control" id="rue"></label>
            </div>

            <div class="form-group">
                <label class="required">Code postal</label>
                <label class="form-control" id="codePostal"></label>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="required">Latitude</label>
                        <label class="form-control" id="latitude"></label>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="required">Longitude</label>
                        <label class="form-control" id="longitude"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-4 offset-sm-2 my-2">
            {{ form_widget(form_CreerSortie.enregistrer) }}
        </div>
        <div class="col-sm-4 my-2">
            {{ form_widget(form_CreerSortie.publier) }}
        </div>
    </div>

    {{ form_end(form_CreerSortie) }}

    <script type="application/javascript">
        // A $( document ).ready() block.
        //$( document ).ready(chargementVille)


        $("#creer_sortie_ville").change(chargementVille);
        $("#creer_sortie_lieu").change(chargementLieu);


        function chargementLieu() {

            var lieu = $("#creer_sortie_lieu").val();

            $.ajax({
                url: 'ajax_lieu',
                type: "POST",
                dataType: "json",
                data: {
                    "nomLieu": lieu
                },
                async: true,
                success: function (data) {
                    console.log(data);
                    $('#rue').text(data.rue);
                    $('#codePostal').text(data.codePostal);
                    $('#latitude').text(data.latitude);
                    $('#longitude').text(data.longitude);

                }
            })
        }

        function chargementVille() {

            var ville = $("#creer_sortie_ville").val();
            console.log(ville);
            $.ajax({
                url: 'ajax_ville',
                type: "POST",
                dataType: "json",
                data: {
                    "nomVille": ville
                },
                async: true,
                success: function (data) {
                    $("#creer_sortie_lieu").empty();
                    for (var i = 0; i < data.length; i++) {
                        var id = data[i].id;
                        var nom = data[i].nom;
                        $("#creer_sortie_lieu").append("<option value=" + id + " selected='selected'>" + nom + "</option>");
                    }
                    chargementLieu();
                }
            })
        }

    </script>
{% endblock %}
