{% extends 'layout.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}

    <h1 class="display-4 mt-5 mb-5" style="text-align: center">Créer une sortie</h1>

    {{ form_start(form_CreerSortie) }}


    {{ form_errors(form_CreerSortie) }}


    <div class="row">

        <div class="col-sm-4 offset-sm-2">
            {{ form_row(form_CreerSortie.nom) }}
            {{ form_row(form_CreerSortie.dateDebut) }}
            {{ form_row(form_CreerSortie.dateCloture) }}
            {{ form_row(form_CreerSortie.nbinscriptionsmax) }}
            {{ form_row(form_CreerSortie.duree) }}
            {{ form_row(form_CreerSortie.description) }}
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label class="required">Ville organisatrice</label>
                <label class="form-control" id="villeOrganisatrice">{{ app.user.site.libelle }}</label>
            </div>

            <div class="row">
                <div class="col-9">
                    {{ form_row(form_CreerSortie.ville) }}
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <label class="required">Nouveau</label>
                        <button type="button" class="form-control btn btn-light" data-toggle="modal" data-target="#myModalCity">
                            <img src="{{ asset('img/add_city.png') }}" height="90%">
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-9">

                    <div class="form-group">
                        <label for="exampleFormControlSelect1"> Lieu :</label>
                        <select class="form-control" id="creer_sortie_lieu" name="lieux">

                        </select>
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <label class="required">Nouveau</label>
                        <button type="button" class="form-control btn btn-light" data-toggle="modal" data-target="#myModalLieu">
                            <img src="{{ asset('img/add_location.png') }}" height="90%">
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="required">Rue</label>
                <label class="form-control" id="rue"></label>
            </div>

            <div class="form-group">
                <label class="required">Code postal</label>
                <label class="form-control" id="codePostal"></label>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="required">Latitude</label>
                        <label class="form-control" id="latitude"></label>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="required">Longitude</label>
                        <label class="form-control" id="longitude"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-4 offset-sm-2 my-2">
            {{ form_widget(form_CreerSortie.enregistrer) }}
        </div>
        <div class="col-sm-4 my-2">
            {{ form_widget(form_CreerSortie.publier) }}
        </div>
    </div>

    {{ form_end(form_CreerSortie) }}

    <div id="myModalLieu" class="modal hide fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="display-4">Ajout lieu</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">
                    {{ form_start(formNouveauLieu) }}
                    {{ form_row(formNouveauLieu.nom) }}
                    {{ form_row(formNouveauLieu.ville) }}
                    {{ form_row(formNouveauLieu.rue) }}
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(formNouveauLieu.latitude) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(formNouveauLieu.longitude) }}
                        </div>
                    </div>
                    {{ form_end(formNouveauLieu) }}
                    <button id="btnEnregistrerLieu" class="btn btn-success btn-block my-4 " data-dismiss="modal">
                        Enregistrer nouveau lieu
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalCity" class="modal hide fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="display-4">Ajout ville</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">
                    {{ form_start(formNouvelleVille) }}

                    {{ form_row(formNouvelleVille.nom) }}
                    {{ form_row(formNouvelleVille.codePostal) }}

                    {{ form_end(formNouvelleVille) }}
                    <button id="btnEnregistrerVille" class="btn btn-success btn-block my-4 " data-dismiss="modal">
                        Enregistrer nouvelle ville
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        // A $( document ).ready() block.
        //$( document ).ready(chargementVille)

        $("#creer_sortie_ville").change(chargementVille);
        $("#creer_sortie_lieu").change(chargementLieu);
        $("#btnEnregistrerLieu").click(function(){
            ajouterLieu();
            $("#nouveau_lieu_nom").val("");
            $("#nouveau_lieu_ville").val("");
            $("#nouveau_lieu_rue").val("");
            $("#nouveau_lieu_latitude").val("");
            $("#nouveau_lieu_longitude").val("");
        });
        $("#btnEnregistrerVille").click(function(){
            ajouterVille();
            $("#nouvelle_ville_nom").val("");
            $("#nouvelle_ville_codePostal").val("");
        });


        function chargementLieu() {

            var lieu = $("#creer_sortie_lieu").val();

            $.ajax({
                url: 'ajax_lieu',
                type: "POST",
                dataType: "json",
                data: {
                    "nomLieu": lieu
                },
                async: true,
                success: function (data) {
                    console.log(data);
                    $('#rue').text(data.rue);
                    $('#codePostal').text(data.codePostal);
                    $('#latitude').text(data.latitude);
                    $('#longitude').text(data.longitude);

                }
            })
        }

        function chargementVille() {

            var ville = $("#creer_sortie_ville").val();
            console.log(ville);
            $.ajax({
                url: 'ajax_ville',
                type: "POST",
                dataType: "json",
                data: {
                    "nomVille": ville
                },
                async: true,
                success: function (data) {
                    $("#creer_sortie_lieu").empty();
                    for (var i = 0; i < data.length; i++) {
                        var id = data[i].id;
                        var nom = data[i].nom;
                        $("#creer_sortie_lieu").append("<option value=" + id + " selected='selected'>" + nom + "</option>");
                    }
                    chargementLieu();
                }
            })
        }

        function ajouterLieu() {
            var nom = $("#nouveau_lieu_nom").val();
            var ville = $("#nouveau_lieu_ville").val();
            var rue = $("#nouveau_lieu_rue").val();
            var lat = $("#nouveau_lieu_latitude").val();
            var long = $("#nouveau_lieu_longitude").val();

            $.ajax({
                url: 'ajax_nouveau_lieu',
                type: "POST",
                dataType: "json",
                data: {
                    "nom": nom,
                    "ville": ville,
                    "rue": rue,
                    "lat": lat,
                    "long": long
                },
                async: true,
                success: function (data) {
                    $('#creer_sortie_ville option').filter(function(){
                        return this.value == data.newVille;
                    }).prop("selected", true);

                    $('#creer_sortie_ville').change();
                }
            })
        }

        function ajouterVille() {
            var nom = $("#enregistrer_ville_nom").val();
            var cp = $("#enregistrer_ville_codePostal").val();

            $.ajax({
                url: 'ajax_nouvelle_ville',
                type: "POST",
                dataType: "json",
                data: {
                    "nom": nom,
                    "cp": cp
                },
                async: true,
                success: function (data) {
                    $("#creer_sortie_ville").empty();
                    for (var i = 0; i < data.villes.length; i++) {
                        var id = data.villes[i].id;
                        var nom = data.villes[i].nom;
                        $("#creer_sortie_ville").append("<option value=" + id + " selected='selected'>" + nom + "</option>");
                    }

                    $("#nouveau_lieu_ville").empty();
                    for (var i = 0; i < data.villes.length; i++) {
                        var id = data.villes[i].id;
                        var nom = data.villes[i].nom;
                        $("#nouveau_lieu_ville").append("<option value=" + id + " selected='selected'>" + nom + "</option>");
                    }
                }
            })
        }

    </script>
{% endblock %}
