{% extends 'layout.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}

    <h1>Créer une sortie</h1>

    {{ form_start(form_CreerSortie) }}
    <div class="row">

        <div class="col-md-5">
            Nom de la sortie :
            {{ form_widget(form_CreerSortie.nom) }}
        </div>

        <div class="col-md-4">
            Ville organisatrice :
            <label class="form-control" id="villeOrganisatrice">{{ app.user.site.libelle }}  </label>

        </div>

    </div>

    <div class="row">
        <div class="col-md-5">
            Date et heure de la sortie :
            {{ form_widget(form_CreerSortie.dateDebut) }}
        </div>

        <div class="col-md-4">
            Ville :
            <label class="form-control" id="ville"> ville </label>

        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            Date limite inscription :
            {{ form_widget(form_CreerSortie.dateCloture) }}
        </div>
        <div class="col-md-4">
            Lieu
            {{ form_widget(form_CreerSortie.lieu) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            nombre de places :
            {{ form_widget(form_CreerSortie.nbinscriptionsmax) }}
        </div>
        <div class="col-md-4">
            Rue
            <label class="form-control" id="rue"> Rue </label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            Durée :
            {{ form_widget(form_CreerSortie.duree) }}
        </div>
        <div class="col-md-4">
            Code Postal
            <label class="form-control" id="codePostal"> code postal valeur </label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            Description et infos :
            {{ form_widget(form_CreerSortie.description) }}
        </div>
        <div class="col-md-2">
            Latitude
            <label class="form-control" id="latitude"> Latitude </label>
        </div>

        <div class="col-md-2">
            Longitude
            <label class="form-control" id="longitude"> Longitude </label>
        </div>
    </div>

    <div class="row mt-4">
    <div class="col-md-3">
        <button type="submit" class="btn-block btn-primary btn">Enregistrer</button>
    </div><div class="col-md-3">
        <button type="submit" class="btn-block btn-primary btn">Publier la sortie</button>
    </div><div class="col-md-3">
        <button type="submit" class="btn-block btn-primary btn">Annuler</button>
    </div>

    </div>



    {{ form_end(form_CreerSortie) }}

    <script type="application/javascript">

        $("#creer_sortie_lieu").change( function(){

            var lieu = $("#creer_sortie_lieu").val();

            $.ajax({
                url:'ajax_lieu',
                type: "POST",
                dataType: "json",
                data: {
                    "nomLieu": lieu
                },
                async: true,
                success: function (data)
                {
                    console.log(data)
                    $( '#rue' ).text(data.rue);
                    $( '#ville' ).text(data.nomVille);
                    $( '#codePostal' ).text(data.codePostal);
                    $( '#latitude' ).text(data.latitude);
                    $( '#longitude' ).text(data.longitude);

                }
            })
        });

    </script>
{% endblock %}
