{% extends 'layout.html.twig' %}

{% block title %}Modifier une sortie{% endblock %}

{% block body %}

    <h1 class="display-4 mt-5 mb-5" style="text-align: center">Modifier une sortie</h1>

    {{ form_start(form_modifier_sortie) }}
    <div class="row">

        <div class="col-sm-4 offset-sm-2">
            {{ form_row(form_modifier_sortie.nom) }}
            {{ form_row(form_modifier_sortie.dateDebut) }}
            {{ form_row(form_modifier_sortie.dateCloture) }}
            {{ form_row(form_modifier_sortie.nbinscriptionsmax) }}
            {{ form_row(form_modifier_sortie.duree) }}
            {{ form_row(form_modifier_sortie.description) }}
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label class="required">Ville organisatrice</label>
                <label class="form-control" id="villeOrganisatrice">{{ app.user.site.libelle }}</label>
            </div>

            {{ form_row(form_modifier_sortie.ville) }}

            <div class="form-group">
                <label for="exampleFormControlSelect1"> Lieu :</label>
                <select class="form-control" id="creer_sortie_lieu" name="lieux">

                </select>
            </div>

            <div class="form-group">
                <label class="required">Rue</label>
                <label class="form-control" id="rue"></label>
            </div>

            <div class="form-group">
                <label class="required">Code postal</label>
                <label class="form-control" id="codePostal"></label>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="required">Latitude</label>
                        <label class="form-control" id="latitude"></label>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="required">Longitude</label>
                        <label class="form-control" id="longitude"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-sm-4">

        <div class="col-sm-2 offset-sm-2 my-2">
            <div class="form-group">
                <a href="{{ path('sortie_supprimer',{'id':sortie.id}) }}" class="btn-block btn-danger btn">Supprimer</a>
            </div>
        </div>

        <div class="col-sm-3 my-2">
            {{ form_row(form_modifier_sortie.enregistrer) }}
        </div>

        <div class="col-sm-3 my-2">
            {{ form_row(form_modifier_sortie.publier) }}
        </div>
    </div>

    {{ form_end(form_modifier_sortie) }}

    <script type="application/javascript">
        // A $( document ).ready() block.
       // $(document).ready(chargementVille);
        $(document).ready(chargement);

        /*$("#creer_sortie_lieu").change(chargementVille);


        function chargementVille() {

            var lieu = $("#creer_sortie_lieu").val();

            $.ajax({
                url: '../ajax_lieu',
                type: "POST",
                dataType: "json",
                data: {
                    "nomLieu": lieu
                },
                async: true,
                success: function (data) {
                    console.log(data);
                    $('#rue').text(data.rue);
                    $('#ville').text(data.nomVille);
                    $('#codePostal').text(data.codePostal);
                    $('#latitude').text(data.latitude);
                    $('#longitude').text(data.longitude);

                }
            })
        }*/

        $("#creer_sortie_lieu").change(chargementLieu);
        $("#creer_sortie_ville").change(chargementVille);


        function chargementLieu() {

            var lieu = $("#creer_sortie_lieu").val();

            $.ajax({
                url: '../ajax_lieu',
                type: "POST",
                dataType: "json",
                data: {
                    "nomLieu": lieu
                },
                async: true,
                success: function (data) {
                    console.log(data);
                    $('#rue').text(data.rue);
                    $('#codePostal').text(data.codePostal);
                    $('#latitude').text(data.latitude);
                    $('#longitude').text(data.longitude);

                }
            })
        }

        function chargementVille() {

            var ville = $("#creer_sortie_ville").val();

            $.ajax({
                url: '../ajax_ville',
                type: "POST",
                dataType: "json",
                data: {
                    "nomVille": ville
                },
                async: true,
                success: function (data) {
                    $("#creer_sortie_lieu").empty();
                    for (var i = 0; i < data.length; i++) {
                        var id = data[i].id;
                        var nom = data[i].nom;
                        $("#creer_sortie_lieu").append("<option value=" + id + ">" + nom + "</option>");
                    }

                    chargement2();
                }
            })
        }

        function chargement(){

            $('#creer_sortie_ville option').filter(function () {
                return this.value == "{{ sortie.lieu.ville.id }}";
            }).prop("selected", true);

            $('#creer_sortie_ville').change();

        }
        function chargement2(){
            console.log("identifiant lieu {{ sortie.lieu.nom }}");

            $('#creer_sortie_lieu option').filter(function () {
                console.log("je passe ici");
                console.log(this.text);
                return this.text == "{{ sortie.lieu.nom }}";

            }).prop("selected", true);

            chargementLieu();
        }

    </script>
{% endblock %}
