{% extends 'layout.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
   <p style="text-align: right">Date du jour : <strong>{{ dateDuJour }}</strong></p>
   <P style="text-align: right">Participant : <strong>{{ participant }}</strong></P>

   {{ form_start(formFiltre) }}

   <div class="row">
      <div class="form-group col-3">
         <label>Site :</label>
         {{ form_widget(formFiltre.site) }}
      </div>

      <div class="form-group col-3">
         <label>Le nom de la sortie contient :</label>
         {{ form_widget(formFiltre.nom) }}
      </div>

      <div class="form-group col-3">
         <label>À partir de :</label>
         {{ form_widget(formFiltre.dateDebut) }}
      </div>

      <div class="form-group col-3">
         <label>Jusqu'au :</label>
         {{ form_widget(formFiltre.dateCloture) }}
      </div>
   </div>



   <input class="button" type="submit" value="Rechercher">

   {{ form_end(formFiltre) }}
{% endblock %}