<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href={{ asset('img/logo.png') }}>

    <link rel="stylesheet"
          href="{{ asset("css/bootstrap.min.css") }}">
    <link rel="stylesheet"
          href="{{ asset("css/style.css") }}">

    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />

    <script type="application/javascript"
            src="{{ asset("js/jquery.min.js") }}"></script>
    <script type="application/javascript"
            src="{{ asset("js/popper.min.js") }}"></script>
    <script type="application/javascript"
            src="{{ asset("js/bootstrap.min.js") }}"></script>
    <script type="application/javascript"
            src="{{ asset("js/bs-custom-file-input.js") }}"></script>

    <script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>



    {% block stylesheets %}{% endblock %}


</head>
<body>
<header>
    {% include('inc/nav.html.twig') %}
</header>
<div class="container">
    {% for label,messages in app.flashes %}
        {% for message in messages %}
            <div class=" mt-2 alert alert-info flash flash-{{ label }}">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}

</div>

<div class="container main">
    {% block body %}{% endblock %}
</div>


    <footer class="footer mt-auto py-3">
        {% include('inc/foot.html.twig') %}
    </footer>

</body>
</html>