<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('main_accueil') }}">
        <img src="{{ asset("img/logo.png") }}" width="30" height="30" class="d-inline-block align-top" alt="">
        SORTIR
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('main_accueil') }}">Accueil<span class="sr-only">(current)</span></a>
            </li>

            {% if is_granted('ROLE_ADMIN') == true %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('gestion_ville') }}">Gérer les villes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('gestion_site') }}">Gérer les sites</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_users')}}">Gérer les utilisateurs</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_modify') }}">Mon profil</a>
            </li>


        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                 <a class="nav-link" href="{{ path('app_login')}}">Se connecter</a>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="nav-link" href="{{ path('app_logout')}}">Logout</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

